body {
    background-color: #0d1117;
    color: transparent;       /* 文字色を透明に変更 */
    -webkit-text-stroke: 1px #46e8f0;
}
.del{
    position: absolute;
    top: -0.1em;
    left: 10em;
    color: #ffffff;
}

h1 {
  /* background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%); */ 
  background-color: transparent;
  font-weight: bold;
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color:  linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783,#e60000) 0 / 200%; */
  position: fixed;
  /* background: rgba(252, 73, 3, 0.5); */
  z-index: 100;
  justify-content: center; 
  text-align: center;

  /* animation: flash 1s infinite; アニメーションflashを1秒ごとに繰り返す */

}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 1px #46e8f0;
}


@keyframes flash {
  0%, 100% {
    /* 明るく光るよう影を重ねる */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  50% {
    /* 淡く光るよう影を重ねる */
    text-shadow: 0 0 10px #fff, 0 0 20px #fcfcfc, 0 0 30px #fcfcfc, 0 0 40px #fc00de;
  }
}

.header-box {
  height: 80px;
}

.field {
display: flex;
}

/* --- .menu-background --- */
.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(241, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
}
.menu-background.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}
/*---------- #menu ----------*/
#menu {
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: #191970;
  position: fixed;
  top: 10vb;
  right: 0;
  z-index: 10;
  transform: translate(500px);
  transition: all .5s;
}
#menu.open {
  transform: translate(0);
}
#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#menu li {
  padding: 10px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
#menu_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  border-radius: 5px;
  padding: 6px 20px;
  background-color: #191970;
  cursor: pointer;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  align-items: flex-start;
}

.header-title {
  font-size: 3.5vb;
  position: relative;
  width: 100%;
  top: -1vh;
  height: 5vh;
  margin: 0 auto;
  text-align: center;
  border: solid 2px #46e8f0;
  color: #46e8f0;
}

.header-toggle {
  position: relative;
  width: 100%;
  height: 2vh;
  left: 5vw;
  margin: 1 auto;
  text-align: center;
  display: flex;
}

.header-btm {
  position: relative;
  left: 2vw;
  width: 100%;
  text-align: center;
  display: flex;
}

.header-tablebtm {
  position: relative;
  left: -3.1rem;
  width: 100%;
  top: -1.7rem;
  text-align: center;
  display: flex;
}

.header-tablenum {
  position: relative;
  left: 0.5rem;
  width: 100%;
  height: 6rem;
  top: -1.5rem;
  text-align: center;
  display: flex;
}

.header-contents {
  position: relative;
  width: 100%;
  text-align: center;
  border: solid 2px #46e8f0;
  display: inline-block;
}

#menu_btn {
  position: absolute;
  top: -5vb;
  right: -1vb;
  color: #74de28; 
  padding: 1px;
  background-color: #eeff00;
  cursor: pointer;
  width: 10vb;
  height: 4vb;
  font-size: 3vb;
}

.baseCanvas { 
  position: absolute;
  border: 1px solid #000;
  left: 0px;   
  top: 10vb;
  /* background-color: skyblue; */
  /* width :500px;
  height: 300px; */
  width: 500px;
  height: 300px;
  /* margin: auto; */
}

.overlayCanvas {
  position: absolute;
  left: 0px;   
  top: 0px;   
  /* margin: 10vb; */
  border: 1px solid #333;
  display: flex;
  /* flex-shrink: 0;      キャンバスの幅を縮めない */
}


table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

button{
  border: solid 2px #46e8f0; /* 緑色 */
  font-size: 4vb;
  border-radius: 5px;
  margin: 2vw;
  text-align: center;
  background: transparent; /* 緑色 */
}

.inputTableNum{
  background-color: transparent;
  border: solid 2px #46e8f0; /* 緑色 */
  width: 40rem;
  height: 4rem;
  font-size: 1.5vb;
  top: -6rem;
}

.selectbtn{
  width: 15vw;
  height: 14vw;
  background-image: url("../btm_img/folder.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.selectSaveDatabtn{
  width: 15vw;
  height: 14vw;
  background-image: url("../btm_img/indev.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.cancelbtn{
  width: 15vw;
  height: 14vw;
  background-image: url("../btm_img/enter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.snipbtn{
  width: 15vw;
  height: 14vw;
  background-image: url("../btm_img/snip.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}


.creategraphbtn{
  width: 15vw;
  height: 14vw;
  background-image: url("../btm_img/graph.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}




.tablenumbtm{
  top: 2rem;
  width: 20rem;
  height: 1rem;
  font-size: 2rem;
  border-color: transparent;
}

.enterbtn{
  position: relative;
  top: 1.3rem;
  width: 10rem;
  height: 4rem;
  background-image: url("../btm_img/enter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}


.wrap {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

button:hover{
  filter: brightness(70%);
}

button:disabled{
  background: #1a2b03; /* 濃い緑色 */
  border: solid 4px #1a2b03; /* 少し濃い緑色 */
  filter: brightness(60%);
}

button.selecting:hover {
  /* background: #1a2b03; 
  border: solid 4px #1a2b03; 少し濃い緑色 */
}

button.selecting:active {
  /* background: #1a2b03; 
  border: solid 4px #1a2b03; */
}

button.selecting {
}

#fileInput {
    display: none;
}

.toggle {
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 2vh;
    left: 5.3vw;
    top: 0.5vh;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: transparent;
    cursor: pointer;
}

.slider::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 4px;

    width: 50%;
    height: 80%;
    background: #46e8f0;

    transition: transform 0.1s ease;
}

/* OFF状態 */
input:checked + .slider::before {
    transform: translateX(100%);
}