<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>台番号入力画面</title>
  <script>
    function saveData() {
      window.addEventListener('DOMContentLoaded', function() {
              localStorage.clear();
      });
      const value = document.getElementById('inputBox').value;
      const list = value.split(/[、,\.\s]+/);
      const result = true;
      var resultArray = []
      var re = "";
      list.forEach((v, i) => {
        if (!v || !v.trim()) {
          alert("台番号を入力してください");
          result = false;
          return;
        } else {
          resultArray.push(v);
        }
      });
      resultArray.forEach( resultA => {
        re += (resultA + ",")
      });
      if (result) {
        localStorage.setItem('TableNumbers', re);
        alert("保存しました");
        window.location.href = "/";
      }
    }

  </script>
</head>
<body>
  <h1>台番号入力画面</h1>
  <input type="text" id="inputBox" placeholder="台番号を入力 (区切り文字: , . 、 空白)">
  <button onclick="saveData()">終了</button>
</body>
</html>